.btn:hover {
 
  background-color: #ffffff;
  border: 1px solid rgb(245, 204, 255);
  border-radius: 10px;
  color: black;

}
.btn:active {
 
  background-color: #ffffff;
  border: 1px solid rgb(245, 204, 255);
  border-radius: 0px;
  color: black;

}
.btn:visited {
 
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  color: black;
}

.btn {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0px;
  border-left: 1px solid rgb(245, 204, 255);
  border-right: 1px solid rgb(245, 204, 255);
}
