.cartWidget {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -50px;
}

.cartWidget p {
  font-size: 20px;
  font-weight: lighter;
}


svg {
  font-size: 1.6rem;
}

svg:hover {
  cursor: pointer;
  opacity:unset;
}
