.cartWidget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cartWidget p {
  font-size: 20px;
  font-weight: lighter;
}


svg {
  font-size: 1.6rem;
}

svg:hover {
  cursor: pointer;
  opacity:unset;
}
